.warning {
  background-color: #F85C50;
}

.choice {
  margin: 1%;
}

th.sorted[data-order="-1"]::after {
	content: "▼"
}

th.sorted[data-order="1"]::after {
	content: "▲"
}

.container {
  background-color: #c8d9fb;
}

.nav-cont {
  background-color: #0a2b7d;
}

.nav-link {
  color: #c8d4f2!important;
}

.board {
  background-color: #b8bcec;
}

.navbar-brand {
  letter-spacing: 2px!important;
  color: #8fc3f3!important;
}

.btn-info {
  background-color: #2d2dfb!important;
  border-color: #3333d8!important;
}
